Ajax-WS-Project/User-Interface-Components/Ajax-WS-UIC/wsdl/side.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pg="http://www.softwareag.com/xci/Ajax-WS-UIC/side" xmlns:dt="http://www.softwareag.com/xci/xciDataTypes" targetNamespace="http://www.softwareag.com/xci/Ajax-WS-UIC/side" elementFormDefault="qualified" xmlns:ht="http://www.softwareag.com/xci/xciHeaderTrailer" >
<xs:import namespace="http://www.softwareag.com/xci/xciDataTypes" schemaLocation="xciDataTypes.xsd"/>
<xs:import namespace="http://www.softwareag.com/xci/xciHeaderTrailer" schemaLocation="xciHeaderTrailer.xsd"/>
<!-- Natural Adapter: natsource;SIDE;natsinglebyte;true; -->
<xs:complexType name="dataType"><xs:sequence><xs:element name="mymenu" minOccurs="0" maxOccurs="unbounded" type="pg:mymenuType"/><xs:element name="mysearch" minOccurs="0" type="xs:string"/><xs:element name="user" minOccurs="0" type="xs:string"/><xs:element name="xcieventdata" minOccurs="0" type="pg:xcieventdataType"/></xs:sequence></xs:complexType><xs:complexType name="xcieventdataType"><xs:sequence><xs:element name="xciindex" minOccurs="0" type="xs:int"/></xs:sequence></xs:complexType><xs:complexType name="mymenuType"><xs:sequence><xs:element name="level" minOccurs="0" type="xs:int"/><xs:element name="opened" minOccurs="0" type="xs:int"/><xs:element name="selected" minOccurs="0" type="xs:boolean"/><xs:element name="text" minOccurs="0" type="xs:string"/></xs:sequence></xs:complexType><xs:simpleType name="methodType"><xs:restriction base="xs:string"><xs:enumeration value="mymenu.onSelectMenuItem"/><xs:enumeration value="onExit"/><xs:enumeration value="onLogin"/><xs:enumeration value="onSearch"/><xs:enumeration value="xciClose"/><xs:enumeration value="xciInit"/><xs:enumeration value="xciMethodPost"/><xs:enumeration value="xciMethodPre"/><xs:enumeration value="xciProcessAsDefault"/><xs:enumeration value="xciSetup"/><xs:enumeration value="xciTerminate"/></xs:restriction></xs:simpleType>
<xs:element name="xdo"><xs:complexType><xs:sequence><xs:element ref="ht:header"/><xs:element name="data" type="pg:dataType"/><xs:element ref="ht:trailer"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>